.cronmanager_cron_enabled {
	background-image: url('cron_enabled.png'); 
	width: 16px;
	height: 16px;
}

.cronmanager_cron_disabled {
	background-image: url('cron_disabled.png'); 
	width: 16px;
	height: 16px
}

.cronmanager_cron_changing {
	background-image: url('../../../comodojo/images/small_loader.gif'); 
	width: 16px;
	height: 16px
}

.cronmanager_cron_enabled_label {
	font-weight: bold;
}

.cronmanager_cron_disabled_label {
	color: grey;
}