<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head>
	
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="comodojo/CSS/errors.css" />
	<title>Error!</title>
	
</head>

<body>

	<div id="errorContainer">
	
		<div id="errorHeader">
	
			<img src="comodojo/images/error.png" alt="The Comodojo Logo"/>
	
		</div>
	
		<div id="errorContent">
	
			<h1>*_ERRORNAME_*</h1>

			<p>*_ERRORDETAILS_*</p>

			<h2>Random quote</h2>
			
			<dl>
				<dd>*_ERRORQUOTE_*</dd>
			</dl>
			
		</div>
	
		<div id="footer">
		
			<p>Powered by <a href="http://www.comodojo.org" target="_blank">Comodojo Core</a></p>
		
		</div>
	
	</div>

</body>

</html>
