<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head>
	
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	
	<link rel="stylesheet" type="text/css" href="comodojo/CSS/suspended.css" />
	<title>*_SITETITLE_*</title>
	
	*_META_*
	
</head>

<body>

	<div id="messageContainer">
	
		<div id="messageHeader">
	
			<img src="comodojo/images/logo.png" alt="The Comodojo Logo"/>
			
		</div>
	
		<div id="messageContent">
	
			<h1> *_SITETITLE_* - Maintenance Mode</h1>
	
			<h2>*_SUSPENDEDMESSAGE_*</h2>

			<h3 style="display: *_DISPLAY_*;">User unknown or password mismatch. Please retry.</h3>

			<h3>If you're an administrator, fill form below to have access.</h3>

			<form id="userLogin" method="post">
				Username: <input type="text" name="userName" />
				Password: <input type="password" name="userPass" />
				<input type="submit" value="Submit" name="Submit" />
			</form>

		</div>
	
		<div id="footer">
			<p>Copyright *_SITEDATE_* *_SITEAUTHOR_* | All Rights Reserved | Powered by <a href="http://www.comodojo.org" target="_blank">Comodojo</a></p>
		</div>
	
	</div>

</body>

</html>
